doctype html
html
  head
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title Bar44
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/steez.css')
  body
    #background-img-container
        img(src='images/mountain-snow.jpg' id='background-img1')
        img(src='images/zr-structure-1.jpg' id='background-img2')
        img(src='images/zr-structure-3.jpg' id='background-img3')
    #logo-box
        .logo-top
        .logo 44
    #home
    nav(role="navigation").navbar.navbar-inverse.navbar-fixed-top.nav
        .navbar-header
            button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav.list-inline
                li.home.active: a() Home
                li.about: a() Me
                li.work: a() Build
                li.contact: a() Contact
    .bottom-left-mask
    .top-trigger.about-trigger
    #about.content
        .container
            .bottom-trigger.about-trigger
            .row.head-about
                .col-sm-4
                    h1 I Am.
            .row.content-body-about
                .col-sm-2.col-sm-offset-1
                    img(src='images/michael-profile.jpg').profile-pic.img-circle
                .col-sm-7.col-sm-offset-2
                    h1 Michael Lechner
                    h4 web development - boulder, co</h4>
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Ut enim ad minim veniam, quis nostrud ex ercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.             
            .row.content-body-about
                //- .col-sm-4.col-sm-offset-2
                //-     h1 Michael Lechner
                //-     h4 web development - boulder, co</h4>
                //-     p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Ut enim ad minim veniam, quis nostrud ex ercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.             
    .top-left-mask
    .spacer
    .bottom-left-mask
    .top-trigger.work-trigger
    #work.content
        .container
            .bottom-trigger.work-trigger
            .row.head-work
                .col-sm-4
                    h1 I Build Things.
            .row.portfolio.content-body-work
                .col-sm-2.col-sm-offset-1.port-item
                    img(src='images/whosays.png').img-circle.port-img
                    h3 
                        a(href='http://whosays.herokuapp.com') Who Says
                    p a browser based version of your favorite memory game
                .col-sm-2.port-item
                    img(src='images/ama-deus.png').img-circle.port-img
                    h3 Ama Deus
                    p a site in progress during the spring of 2014
            .row.content-body-work    
                .col-sm-9.col-sm-offset-5
                    h2.text-muted more to come...    
    .top-left-mask
    .spacer
    .bottom-left-mask.dark
    .top-trigger.contact-trigger
    #contact.content
        .container
            .row.head-contact
                .col-sm-6
                    h1 Say Hello.
            .row.form-row.content-body-contact
                .col-sm-6
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Ut enim ad minim veniam, quis nostrud ex ercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.
                    .li-icon
                        a(href='http://www.linkedin.com/pub/michael-lechner/17/3b7/7b4/')
                            img(src='/images/li-black.png').top-img
                            img(src='/images/li-blue.png')
                    .gh-icon 
                        a(href='https://github.com/michael-lechner/whosays')
                            img(src='images/git-black.png').top-img
                            img(src='images/git-blue.png')
                    .em-icon    
                        a(href='mailto:mlechner2@gmail.com?Subject=bar44?').glyphicon.glyphicon-envelope

                .col-sm-6
                    form(role='form').email-form
                        .form-group.email-group
                            input(type='email' placeholder='Your email.').form-control.email-address
                        .form-group.message-group
                            textarea(type='text' placeholder='Tell me something.').form-control.message
                        button.btn.btn-lg.btn-default.btn-right.pull-right.submit-contact send
    .top-left-mask.dark

  script(src="http://code.jquery.com/jquery-2.0.3.min.js")
  script(src='javascripts/jquery-ui-1.10.4.custom.min.js')
  script(src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js")
  script(src="javascripts/main.js")
  script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      | ga('create', 'UA-48290489-1', 'bar44.co');
      | ga('send', 'pageview');

