doctype html
html
  head
    title= Bar44
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/steez.css')
  body
    #background-img-container
        img(src='images/mountain-snow.jpg' id='background-img1')
        img(src='images/zr-structure-1.jpg' id='background-img2')
        img(src='images/zr-structure-2.jpg' id='background-img3')
    #logo-box
        .logo-top
        .logo 44
    #home
    //- .nav
    //-     ul.list-inline
    //-         li.home HOME
    //-         li.about ME
    //-         li.work BUILD
    //-         li.contact HELLO
    nav(role="navigation").navbar.navbar-inverse.navbar-fixed-top.nav
        .navbar-header
            button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav.list-inline
                li.home.active: a() Home
                li.about: a() Me
                li.work: a() Build
                li.contact: a() Contact
    .bottom-left-mask
    .top-trigger.about-trigger
    #about.content
        .container
            .bottom-trigger.about-trigger
            .row.head-about
                .col-sm-4
                    h1 I am.
            .row.content-body-about
                .col-sm-4.col-sm-offset-2
                    img(src='images/michael-profile.jpg').profile-pic.img-circle
            .row.content-body-about
                .col-sm-4.col-sm-offset-2
                    h1 Michael Lechner
                    h4 web development - boulder, co</h4>
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Ut enim ad minim veniam, quis nostrud ex ercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>            
                    
    .top-left-mask
    //- .bottom-trigger.about-trigger
    .spacer
    .bottom-left-mask
    .top-trigger.work-trigger
    #work.content
        .container
            .bottom-trigger.work-trigger
            .row.head-work
                .col-sm-4
                    h1 I Build Things.
                .col-sm-8              
                
                
    .top-left-mask
    //- .bottom-trigger.work-trigger
    .spacer
    .bottom-left-mask
    .top-trigger.contact-trigger
    #contact.content
        .container
            .row.head-contact
                .col-sm-6
                    h1 Say Hello.
            .row.form-row.content-body-contact
                .col-sm-6
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Ut enim ad minim veniam, quis nostrud ex ercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.
                    .li-icon
                        a(href='http://www.linkedin.com/pub/michael-lechner/17/3b7/7b4/')
                            img(src='/images/li-black.png')
                    .gh-icon 
                        a(href='https://github.com/michael-lechner/whosays')
                            img(src='images/GitHub-Mark-64px.png')

                .col-sm-6
                    form(role='form')
                        .form-group
                            input(type='email' placeholder='Your email.').form-control
                        .form-group
                            textarea(type='text' placeholder='What can I tell you about?').form-control
                          button.btn.btn-lg.btn-primary.btn-right.pull-right.submit-contact send.
    .top-left-mask





  script(src="http://code.jquery.com/jquery-2.0.3.min.js")
  script(src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js")
  script(src="javascripts/main.js")
