body, html{
	overflow-x: hidden;
}

#background-img-container{
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#logo-box{
	position: fixed;
	top: 10%;
	right: 2%;
	padding: 70px 30px 0px 30px;
	background-color: rgba(52, 73, 94, 0.3);
	border: 13px solid rgba(236, 240, 241,1.0);
}

.logo{
	display: inline-block;
	margin-top: -50px;
	font-size: 200px;
	color: rgba(236, 240, 241,1.0)
}

.logo-top{
	position: relative;
	border-top: 13px solid rgba(236, 240, 241,1.0)
}

.bottom-left-mask{
	position: relative;
	left: -200px;
	width: 200%;
	height: 500px;
	background-color: #ecf0f1;
	-ms-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	-o-transform: rotate(10deg);
}

.top-left-mask{
	position: relative;
	top: -100px;
	left: -200px;
	width: 200%;
	height: 500px;
	background-color: #ecf0f1;
	-ms-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
}

.profile-pic{
	width: 300px;
}

.content{
	height: 100%;
	position: relative;
	background-color: rgba(236, 240, 241,1.0);
	padding: 100px 0px;
	z-index: 2;
}

.content-body-about{
	margin-top: 50px;
}

.spacer{
	position: relative;
	background: transparent;
	height: 500px;
}

.form-row{
	margin-top: 100px;
}

.form-row textarea{
	height: 300px;
}

.li-icon img{
	margin: 40px 30px 70px 0px;
	width: 50px;
	float: left;
}

.gh-icon img{
	margin: 40px 0px 70px 0px;
	width: 50px;
	float: left;
}

.content-body-contact .glyphicon-envelope{
	font-size: 50px;
	margin: 40px 0px 70px 30px;
	color: black;
	vertical-align: middle;
	/*float: left;*/
}

.content-body-contact .glyphicon-envelope:hover{
	text-decoration: none;
}

.portfolio{
	margin: 70px 0px 0px 0px;
}

.port-item{
	margin-right: 50px;
	color: rgba(52, 73, 94, 1.0);
}

.port-item a{
	color: rgba(52, 73, 94, 1.0);
}

.port-item h3{
	text-align: center;
}

/*.port-item a:hover{
	color: rgba(256, 256, 256, 1.0);
}*/

.port-img{
	width: 150px;
	border: 5px solid rgba(52, 73, 94, 0.5);
	padding: 10px;
}

.top-img{
	position: absolute;
}

.em-icon{
	display: inline;
}

#contact.content{
	background-color: rgba(52, 73, 94, 1.0);
	color: #fff;
}

.dark{
	background-color: rgba(52, 73, 94, 1.0);
}

a:hover{
	text-decoration: none;
}